aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
astroid==3.1.0
attrs==23.2.0
av==10.0.0
beautifulsoup4==4.12.3
blinker==1.5
certifi==2023.7.22
chardet==5.1.0
charset-normalizer==3.3.2
colorzero==2.0
cryptography==38.0.4
dbus-python==1.3.2
dill==0.3.8
distro==1.8.0
flake8==7.0.0
Flake8-pyproject==1.2.3
frozenlist==1.4.1
gpiozero==2.0
httplib2==0.20.4
idna==3.4
importlib-metadata==4.12.0
isort==5.13.2
jaraco.classes==3.2.1
jeepney==0.8.0
keyring==23.9.3
launchpadlib==1.11.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
lgpio==0.2.2.0
lxml==5.2.1
magic-filter==1.0.12
mccabe==0.7.0
more-itertools==8.10.0
multidict==6.0.5
numpy==1.26.1
oauthlib==3.2.2
olefile==0.46
opencv-python==4.8.1.78
picamera2==0.3.16
pidng==4.0.9
piexif==1.1.3
pigpio==1.78
Pillow==9.4.0
platformdirs==4.2.0
psutil==5.9.8
pycodestyle==2.11.1
pydantic==2.5.3
pydantic_core==2.14.6
pyflakes==3.2.0
PyGObject==3.42.2
PyJWT==2.6.0
pylint==3.1.0
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
pystemd==0.13.2
pyTelegramBotAPI==4.17.0
python-apt==2.6.0
python-dotenv==1.0.1
python-prctl==1.8.1
requests==2.31.0
RPi.GPIO==0.7.1a4
SecretStorage==3.3.3
simplejpeg==1.6.6
six==1.16.0
smbus2==0.4.2
soupsieve==2.5
spidev==3.5
ssh-import-id==5.10
telebot==0.0.5
tflite-runtime==2.14.0
toml==0.10.2
tomlkit==0.12.4
typing_extensions==4.11.0
urllib3==2.0.7
v4l2-python3==0.3.3
wadllib==1.3.6
yarl==1.9.4
zipp==1.0.0
